@model Week8LoginDemo.Models.Artile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
